.statsMain{
    display: flex;
    flex-wrap: wrap;
}
.statsGraphs{
    flex: 8;
}
#statsNavBar{
   flex : 2; 
}

a {
    text-decoration: none;
    color: black;
}

.graphAligiment{
    min-height: 500px !important;
    max-width: 95%;
}